.story-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-job-conatianer{
  position: relative;
  gap:10px;
  width: 380px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  overflow: hidden;
}
.story-popup-inner {
  position: relative;
  background-color: #fff; 
  padding: 30px 10px 10px 10px;
  border-radius: 8px;
  min-width: 370px;
  border: 1px solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.add-job-offer{
  position: relative;
  background-color: #fff; 
  padding: 30px 10px 10px 10px;
  border-radius: 8px;
  min-width: 370px;
  border: 1px solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  /* left: -100px; */
}

.story-popup-close-btn {
  border: none;
  position: absolute;
  top: 3px;
  right: 8px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #0b0b0b; 
}

.each-job-input{
  display: flex;
  flex-direction: column;
}
.each-job-input input{
  margin: 0 0 10px 10px;
}
.each-job-input >*{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.story-popup .story-popup-inner .story-popup-input
 {
  margin:0 0 10px 0;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  z-index: 999;
  width: 100%;
  color: black;
}
.story-popup .story-popup-inner textarea{
  height: 100px;
  margin:0 0 10px 0;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  z-index: 999;
  color: black;
}
.story-popup button[type='submit'] {
  /* padding: 8px 15px;
  border: none; */
  background: rgb(41, 146, 232);
  border-radius: 4px; 
  color: #fff; 
}
.suggest-toggle{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
}
.slide-toggle-container {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: #ccc9c9;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}
.suggest{
  color:#3a3a3a;
  font:300 14px 'Poppins';
  min-width: fit-content;
  text-wrap: nowrap;
}
.toggled.slide-toggle-container {
  background-color: #0C8CE9; 
}
.slider {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color:#e5e5e5;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.slide-toggle-container.toggled .slider {
  transform: translateX(15px);
}
.buttons{
    margin-top: 10px;
    align-items: center;
    justify-content: unset;
    gap: 20px;
}
.errorMessage{
  font-size: 14px;
  color: red;
  padding: 0 10px 0 10px;
}