.Admingallerycont {
  margin-top: 80px;
}

.admin-galleryContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 50px;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 0 20px; /* Added padding for spacing */
  width: 100%;
}

.admin-galleryContainers .addGallery {
  position: relative;
  right: 250px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #0c8ce9;
  height: 35px;
  width: 100px;
  color: white;
  margin: 20px 30px -20px 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.admin-galleryContainers h3 {
  margin-left: 0;
  font-size: 30px;
}

.admin-gallery .addGallery button:hover {
  background-color: #0880d5;
}

.admin-gallery {
  flex: 4;
  height: calc(100vh - 70px); /* Adjust height to fit below fixed header */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-top: 70px; /* Added margin to account for fixed header */
}
.gallery-title {
  align-self: center;
  color: #0c8ce9;
}
.admin-gallery .userGoBackIcon {
  color: black;
  margin: 10px;
  transition: 0.5s ease;
}

.admin-gallery .userGoBackIcon:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.deletegal {
  color: rgb(255, 15, 15);
  transition: 0.5s ease;
}

.deletegal:hover {
  background-color: rgba(255, 15, 15, 0.5);
  border-radius: 5px;
}

.line {
  width: 100%;
  height: 2px;
  background: radial-gradient(circle, rgb(9, 131, 196), white);
}

.admin-galleryContainers .search {
  margin: 20px 0 0 1rem;
  border: 1px solid rgb(9, 131, 196);
  border-radius: 10px;
  height: 30px;
  display: inline-block;
  padding: 5px;
  width: 150px;
}

.gal-header-txt {
  display: inline-block;
  color: black;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 0 0 100px;
}

.batch-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 3rem;
  color: #0c8ce9;
  font-weight: bold;
}

.gal-heading {
  color: black;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2rem;
}

.admin-cat-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  justify-content: space-evenly;
  padding: 1rem 0 3rem 0;
  overflow-x: auto;
  width: 100%;
  margin-top: 70px; /* Added margin to stay below the fixed header */
}

.admin-cat-container::-webkit-scrollbar {
  width: 1px;
  height: 5px;
  margin: 1rem;
}

.admin-cat-container::-webkit-scrollbar-track {
  background: transparent;
}

.admin-cat-container::-webkit-scrollbar-thumb {
  background-color: #99c0e5;
  border-radius: 5px;
}

.Admin-gallery {
  border: none;
  margin: 10px;
  padding: 0;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.Admin-gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
  display: block;
}

.Admin-gallery img:hover {
  filter: opacity(0.7);
}

.gallery-overlay {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}
.gallery-title h2 {
  font-size: 18px;
  margin-left: 20px;
}
.Admin-gallery:hover .gallery-overlay {
  opacity: 1;
}

/* .gallery-overlay h2 {
  font-size: 18px;
  margin: 0;
} */

.edit-cont {
  display: flex;
  flex-direction: column;
  width: 28%;
  position: relative;
}

.deletegal {
  align-self: center;
}

.edit-cont > link {
  margin: -29px 0 0 10px;
}

.edit-del-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-grid {
  width: calc(100vw - 10px);
  column-count: 3;
  overflow-y: auto;
  max-height: 100vh;
}

.image-grid .image-wrapper {
  flex: 0 0 auto;
  margin-right: 10px;
}

.image-grid::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.image-grid::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* .Admin-gallery h2 {
  margin-top: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  padding: 5px;
} */

.admin-selected-category {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}

.admin-selected-category img {
  max-width: 200px;
  max-height: 400px;
  margin: 20px;
}

.image-wrapper {
  width: 100%;
}

.image-wrapper img {
  transition: transform 0.3s ease;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 500px;
  object-fit: contain;
}

.image-wrapper img.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: auto;
  height: 80vh;
}

.individual-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: none;
}

.full-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.close-icon:hover {
  color: #ccc;
}

.arrow-icon-left {
  position: fixed;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
}

.arrow-icon-right {
  position: fixed;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  :hover {
    box-shadow: 0 4px 8px rgba(247, 244, 244, 0.5);
  }
}
.individual-image .arrow-icon-left,
.individual-image .arrow-icon-right {
  color: white;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.category-description {
  margin: 10px;
  color: white;
  text-align: justify;
  font-size: 10px;
}
.category-title {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

@media (max-width: 950px) {
  .admin-cat-container {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .line {
    display: none;
  }

  .admin-cat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Admin-gallery-header h1 {
    font-size: 22px;
  }

  .Admin-gallery {
    /* margin: 10px; */
    /* padding: 0; */
    text-align: center;
    cursor: pointer;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
  }

  .edit-cont {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .batch-header,
  .batch-header2,
  .batch-header3 {
    background: radial-gradient(circle, #0c8ce9, white);
    color: black;
  }

  .admin-selected-category {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }
  .gallery-title h2 {
    font-size: 15px;
  }
  /* .admin-galleryContainers h3 {
    margin: 0;
    padding: 0;
  } */

  .editlink {
    margin: -4px 0 0 10px;
  }

  .Admin-gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
    display: block;
    object-fit: cover;
  }
  .image-grid {
    width: 100%;
    column-count: 3;
    overflow-y: auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-grid .image-wrapper {
    flex: 0 0 auto;
    margin-right: 10px;
    top: 350px;
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .category-description {
    margin: 10px;
    color: white;
    text-align: justify;
    font-size: 10px;
    height: 800px;
    overflow-y: auto;
  }

  .admin-galleryContainers h3 {
    margin: 20px 0 0 0;
    font-size: 16px;
    align-self: center;
  }
}
