.chang_pass{
    height:700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change_pass_inputs{
  background: none;
  border-color: #dbdbdb;
}
.change_pass_inputs.inputs:invalid[focused="true"] ~ .error {
  display: block;
  width: 265px;
}
.change_pasword{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 10px;
}
.change_pasword_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.change_pasword svg{
  margin-top: -40px;
  background-color: #fff;
}
.change_passwordbtn{
color: #727272;
font-weight:300 ;
background-color: transparent;
border: 1px solid #dadada;
}
.change_passwordbtn:hover{
border-color: #0C8CE9;
color: #0C8CE9;
}