.chapters-container{
    margin-top: 2rem;
    background-color: rgb(234, 234, 233);
    min-height: 890px;

}
.chapters-title{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
}
.chapters-title>p{
    font: 400 40px 'Inter';
    margin-top: 40px;
    margin-left: -67px
}
.chapters-title>.circle-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    position: absolute;
    background-color: #00b2ff38;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    margin-right: 65px;
    z-index: -1;
}
/* .circle-bg2{
    position: absolute;
    top:900px;
    background-color: #c8c9ca;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    z-index: 1;
} */
.circle-bg3{
    position: relative;
    background-color: #00b2ff38;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
    margin-left: -50px;
    margin-top: 10px;
}
.circle-bg4{
    position: relative;
    background-color: #00b2ff38;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 850px;
    margin-top: 200px;
}
.circle-bg5{
    position: relative;
    background-color: #00b2ff38;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    margin-left: 1100px;
    margin-top: -660px;
}

.chapters-container .blue-text{
    color: rgb(255, 166, 0);
}
.ind-chapters-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
}
.ind-chapters{
    position: relative;
    z-index: 2;
    height: 560px;
    /* background-color: #00b2ff38; */
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #1b1919;
    border-left: 3px solid orange;
    border-right: 3px solid #00b3ff;
}
.ind-chapters>p{
    overflow-y: auto;
}
.ind-chapters h4{
    color: #909090;
    font-size: 25px;
    margin-bottom: 20px;
    /* padding: 30px; */
    border-bottom: 2px solid  #00b3ff;
    /* background-color: #00b3ff53; */
}
.ind-chapters button{
    font-size: 13px;
    margin: 20px;
    border: 1px solid #00b3ff;
    border-radius: 10px;
    color: #00b3ff;
    height: 40px;
    width: 80px;
    background-color: white;
    align-self: center;
    transition: 0.50s ease-in-out;
    cursor: pointer;    
}
.ind-chapters button:hover{
 color: orange;
 border:1px solid orange;
}
.chapters-container .buttons>.btn{
    background-color: transparent;
    border: 1px solid #878787;
    margin: 20px;
}