
.eventnUTitle{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 3rem;
}
.eventnUTitle>.circle-bg{
    position: absolute;
    background-color: #CAEFFF;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 65px;
    z-index: -1;
}
.eventnUTitle>p{
    font: 400 40px 'Inter';
    margin-left: -4rem;
}
.event-container{
    flex-direction: row;
    background: black;
    color:white;
    font-size: 15px;
    display: block;
    /* margin-bottom: 30px; */
    border-bottom: 2px solid white;
}
.events-heading{
    text-transform: uppercase;
    padding: 4rem 2rem;
    margin-left: 3rem;
    font-size: 40px;
    display: block;
}
.span{
    color: rgb(47, 166, 231);
}
.e-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #151515d1;
    margin-top: 0;
    width: 100%;
    margin-top: 3rem;
    height: auto;
}
.e-container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background: #151515d1;
    width: 100%;
    margin-top: 3rem;
    height: auto;
}
.event-container-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
    
}
.event-container-img img{
    width: 350px;
    border-radius: 15px;
    /* margin-right: 80px; */
}

.event-description{
    display: inline-block;
    width: 300px;
    line-height: 18px;
    letter-spacing: 0.04rem;
    margin-top: 3rem;
    font-family: 'Saira Condensed', sans-serif;
}
.event-description-title{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 3rem;


}

.event-description-desc{
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.vert{
    
    border: none;
    background: gray;
    width: 2px;
    height: 180px;
    margin-right: 8cqh;
    margin-left: 80px;
}
.event-date{
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid gray;
    padding-bottom: 10px;
    width: auto;
    align-items: center;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    background: #090909
}
.event-date p{
    margin: 1px;
}
.date{
    padding-left: 18px;
}

.btn-btn{
    background: #0c8ce9;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    transition: 0.3s ease;
    font-size: 18px;
    align-self: center;
}
.btn-btn:hover{
    
    cursor: pointer;
    font-weight: bold;
}
/* .container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background: #151515d1;
    margin-top: 0;
    width: 100%;
    margin-top: 3rem;
} */

/* .event2-container-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
    
}

.event2-container-img img{
    width: 350px;
    margin-right: 15px;
    margin-left: 100px;
}

.event2-description{
    display: inline-block;
    width: 300px;
    line-height: 18px;
    letter-spacing: 0.04rem;
    margin-top: 3rem;
}
.event2-date{
    
    margin-right: 20px;
    border: 1px solid gray;
    padding-bottom: 10px;
    width: 100px;
    align-items: center;
    height: 50px;

}
.event2-date p{
    align-items: center;
    margin: 10px;
} */
.date{
    padding-left: 18px;
}
.event-container Button{
        width: 130px;
        height: 40px;
        align-items: center;
        border-radius: 5px; 
        margin-top: 30px;
        margin-bottom: 10px;
        transition:  0.15s ;
    }

    .show-more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* .event2-date p,*/ .event-date p { 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*.event2-date .date,*/.event-date .date{
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: -6px; */
        padding: 5px;
    }


@media screen and (max-width:1190px) {
    .events-heading{
        text-transform: uppercase;
        margin-left: 30px;
        }

        .e-container{
            flex-direction: row;
            max-width: 100%;
        }

        /* .container2{
            flex-direction: row-reverse;
            max-width: 100%;
        } */
        
        .vert{
            display: none;
        }
        /*.event2-date,*/ .event-date{
            margin: 20px 20px 30px 0;
        }
        
        /*.event2-date p,*/ .event-date p {
            display: flex;
            align-items: center;
            justify-content: center;
            /* margin-left: 20px; */
        }

        /*.event2-date .date,*/.event-date .date{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 3px;
        }

        .event-description /*,
        .event2-description*/{
            margin: auto;
        }

        .event-container-img img /*,
        .event2-container-img img*/{
            width: 300px;
            align-content: center;
            margin: auto;
        }

        .event-container btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
    }

    

    @media screen and (max-width:650px) {

        /*.container2,*/ .e-container{
            flex-direction: column;
            max-width: 100%;
        }
       
        .event-container .btn_cont-show_more{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .event-container Button {
            width: 130px;
            height: 40px;
            align-items: center;
            border-radius: 5px;
            margin-top: 30px;
            margin-bottom: 20px;
            transition: 0.15s;
            left: 80px;
        }
        .event-date /*, .event2-date*/{
            position: relative;
            /* top: -445px; */
            background: #090909;
            border: 1px solid whitesmoke;
            border-radius: 10px;
            width: fit-content;
            margin-top: 10px;
            padding: 5px;
            height: fit-content;
        }

        /*.event2-date p,*/ .eventdate-p {
            display: flex;
            align-items: center;
            justify-content: space-between;
           
        }
        /*.event2-date .date,*/ .event-date .date{
            display: flex;
            align-items: center;
            justify-content: center;
            /* margin: 10px 10px 10px ; */
        }
        .btn_cont-show_more .btn{
            position: relative;
            left: 0px;
        }

        
    }
