.forget_password{
    position: relative;
    top: 50px;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forget_password>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction:column;
    gap: 10px;
    font: 300 16px 'saira';
    border: 1px solid #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
  }
  .forget_password>div>p{
    margin-left: 20px;
  }
  .forget_password>div>.success{
    color: #019dff;
  }
  .forget_password>div>h3{
    margin: 0;
  }