.header-container {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    /* margin: 50px 0 0 0; */
    padding: 0;
    width: 100%;

}
.header-container .blue-text{
    color: #00B2FF;
}
.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* z-index: -1; */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    /* background-color: #000000c6; */
    background: #000000c0;
    z-index: 1;
   
}
.main-page-buttons{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.main-page-buttons a {
display: flex;
}
.btn.transparent-btn{
    background-color: transparent;
    color: #fff;
    /* font: 200 16px "Saira"; */
    border: 1px solid #fff;
}
/* .main-page-buttons #signin-btn{
    background-color: #086cb4;
} */
.wellcome-text{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    align-items: center;
    font: 100 58px 'poppins';
    top: 130px;
    z-index: 1;
}
.wellcome-text .bottom-title{
    font:100 16px 'poppins';
    width: 780px;
    color: #d2d2d2;
    text-align: center;
    /* padding-left: 40px; */
}
.logo{
    width: 150px;
    height: 50px;
    padding: 10px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    gap: 5px;
    font: 400 16px "poppins";
    min-width: fit-content;
}
.logo>p{
    min-width: fit-content;
}
.logo img{
    height: 30px;
    width: 30px;
    object-fit: contain;
}
.navBar-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    margin: 0;
    background-color: transparent;
    color: #fff;
    top: 0;
    padding-right: 20px;
    align-items: center;
    /* mix-blend-mode: difference; */
}
.scroll{
    background-color: #fff;
    color: #000;
}
.scroll .each-nav-list a{
    color: #000;
}
.donation{
    background-color: #0C8CE9;
    width: 90px;
    height: 30px;
    padding-left: 10px;
}
.white-bg{
    background-color:#fff;
}
.white-bg .each-nav-list a{
    color: #000;
}
.donation.each-nav-list a{
    color: #fff;
}
.nav-lists{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
}
.nav-lists>ul{
    text-transform: uppercase;
    color: #fff;
    font: 400 12px 'Inter';
    list-style: none;
    display: flex;
    gap: 10px;
    
}
.nav-lists ul li:hover{
color: #00B2FF;
cursor: pointer;
}

.nav-lists ul li{
    position: relative;
    display: flex;
    min-width: fit-content;
    align-items: center;
    }
.nav-lists ul li a{
    text-decoration: none;
    color: #ffffff;
/* background-color: currentColor; */
}
.nav-lists .nav-list-conatiner .each-nav-list::before {
    content: "";
    background-color: #0C8CE9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.5px; 
    transition: width 0.5s ease;
}

.nav-lists .nav-list-conatiner .each-nav-list:hover::before {
            width: 100%;
          }

 #signin-btn{
            background-color: #0C8CE9;
            width: 90px;
            height: 30px;
            color: #ffffff;
            border: none;

        }
#nav-sign{
    width: 90px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #00B2FF;
    color: #00B2FF;

}
.dropDown-container{
    position: absolute;
    background-color: #fafafa;
    max-height: 120px;
    top: 165%;
    padding-bottom: 10px;
    left: -80%;
    width: 170px;
    transition: all 0.2s ease-in-out;
}
.dropDown-container.side-menu{
    border-top: 1px solid #333333;
    position: relative;
    background-color: #000;
    top: 0;
    left: 0;
}
.each-list-container{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin: 0;
    padding: 0;
}
.each-list-container .each-list{
    display: flex;
    gap: 5px;
    align-items: center;
    font:400 13px  "Inter";
    color: #000000;
    padding: 10px 0 10px 10px;
}
.each-list-container>li:hover{
background-color: #8d8d8d5d;
}
.hamburger{
    display: none;
}
.side-menu-conatiner{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
    z-index: 100;
}
.side-menu-conatiner>ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top:50px;
    padding-left: 0;
}
.side-menu-conatiner>ul>li{
    width: 100%;
    font-family: 'Poppins';
}
.for-mobile{
    display: none;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}
.btn.log-out{
    background-color: #F17318;
    color: #fff;
    border: none;
}
@media(max-width:425px){
    .nav-lists,.logo>p{
        display: none;
    }
    .header-container,.overlay,.background-img{
        height: 320px;
    }
    .navBar-container{
        padding-right: 0;
    }
    .hamburger{
        display: block;
    }
    .wellcome-text{
        font: 400 20px 'Poppins';
    }
    .wellcome-text .bottom-title{
        width: unset;
        height: 60px;
        overflow: hidden;
        font-size: 14px;
    }
    .for-mobile{
        display: block;
    }
    .side-menu-conatiner>svg{
        position: fixed;
        right: 0;
    }
}