
.header-container {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;

}
.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -1;
}
.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #0000007c;
   
}
.wellcome-text{ 
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    font: 400 48px 'Inter';
    top: 110px;
}
.wellcome-text .bottom-title{
    font:100 24px 'Inter';
}
.navBar-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    margin: 0;
    background-color: #2a2a2a;
    top: 0;
    padding-right: 20px;
    /* mix-blend-mode: difference; */
}
.nav-lists{
    position: relative;
padding: 0;
margin: 0;
display: flex;
gap: 10px;
height: 50px;
align-items: center;
}
.nav-lists>ul{
    text-transform: uppercase;
    color: #fff;
    font: 400 12px 'Inter';
    list-style: none;
    display: flex;
    gap: 10px;
    
}
.nav-lists ul li:hover{
color: #00B2FF;
cursor: pointer;
}

.nav-lists ul li{
    position: relative;
    display: flex;
    min-width: fit-content;
    align-items: center;
    }
    .nav-lists ul li a{
        text-decoration: none;
        color: #ffffff;
        mix-blend-mode: difference; 
  /* background-color: currentColor; */
    }
.nav-lists .nav-list-conatiner .each-nav-list::before {
content: "";
background-color: #0C8CE9;
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 0.5px; 
transition: width 0.5s ease;
}

.nav-lists .nav-list-conatiner .each-nav-list:hover::before {
            width: 100%;
          }

 #signin-btn{
            background-color: #0C8CE9;
            width: 90px;
            height: 30px;
            color: #ffffff;
            border: none;

        }
.dropDown-container{
    position: absolute;
    background-color: #2a2a2a;
    width: 140px;
    max-height: 120px;
    top: 162%;
    padding-bottom: 10px;
    
}
.dropDown-container.drop2{
    left: -80%;
    width: 170px;
}
.each-list-container{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin: 0;
    padding: 0;
}
.each-list-container .each-list{
    display: flex;
    gap: 5px;
    align-items: center;
    font:400 13px  "Inter";
    color: #ffffff;
    padding: 10px 0 10px 10px;
}
.each-list-container>li:hover{
background-color: #454545;
}