.historyContainer{
    color: black;
    font-weight: bold;
    height: 100vh;
    margin-top: 45px;
    overflow-y: auto;
}

.historyHeader{
    background-color: rgb(228, 227, 226);
    height: 450px;
}

.BackgroundImage{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.BackgroundImage img{
  width: 80%;
  height: 450px;
}

.BackgroundImage .year{
    font-size: 90px;
    color: rgb(170, 169, 169);
    align-self: center;
    margin-right: 30px;
}

.historyHeader .header{
    font-size: 40px;
    color: rgb(170, 169, 169);
    position:relative;
    margin-left: 980px;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 20px;
}
span{
    color: rgb(44, 150, 236);
}

.historyImg img{
    width: 300px;
    margin-left: 950px;
    margin-top: 50px;
    /* position: relative;
    left: 450px; */
}
