@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
.add_story{
    box-sizing: border-box;
    padding: 10px;
    font: 100 16px 'saira';
  }
  .add_story .btn{
    font-size: 13px;
    border-radius: 5px;
    background: none;
    border: 1px solid #777777;
  }
  .activity_grid_conatiner {
    display: grid;
  }
.activity {
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 0%;
    border-bottom: 1px solid #dedede;

}
.image_content{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.name_date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.Uploaded_date{
    font: 300 12px 'saira';
    color: #282828;
    min-width: fit-content;
}
.activity h3 {
    width: 100%;
    height: 32px;
    font: 300 12px 'saira';
    word-break: break-all;
    color: #888888;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.full_name{
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    min-width: fit-content;
}
.activity .postimg{
    
    height: 100px;
    width: 100px;
    margin-right: 10px;
    overflow: hidden;
    border: 0;

}
.image_content .postimg img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 0;
}
.Posts{
    height: fit-content;
    background-color: #4f4f4f;
    font-family: 'saira';
    display: flex;
    justify-content: center;
    color: #000;
    margin-top: 40px;
    width: 100%;
    min-height: calc(100vh - 100px);
}
.all_posts_container{
    margin-top: 20px;
    width:700px;
    background-color: #fff;
    height: fit-content;
    /* margin-left: -50px; */
    border-radius: 10px;
    border: 1px solid #4f4f4f;;
}
.all_posts_container h4{
    margin-left: 20px;
}
.profile_container{  
    position: fixed;
    left: 0;
    margin-top: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    height: 300px;

}
.background{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background-color: #83838361;
    overflow: clip;
}
.background img{
    object-fit: cover;
    width: 100%;
}
.profilepic{
    box-sizing: border-box;
    border: 5px solid #fff;
    margin:-50px 0 0 100px;
    width: 110px;
    height: 110px;
    padding:0;
    border-radius: 100px;
}
.profilepic img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid #b9b7b7c7;
    margin-right:10px ;
    object-fit: cover;
}
.profile_container .userdetail {
    display: flex;
    text-transform: capitalize;
    justify-content: center;
}
.profile_container .socialmedia{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.socialmedia a{
    background-color: #fafafa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.each_icons{
color: #000;
}
.profileDetail{
    display: flex;
    height: 35px;
    border-bottom: 1px solid #dddcdc;
    justify-content: space-between;
    align-items: center;
}

.date_proflepic{
    display: flex;
    height: inherit;
    min-width: fit-content;
    justify-content: space-around;
    align-items: center;
}
.date_proflepic .profile_name {
    text-transform: capitalize;
    width: fit-content;
    margin:0 5px;
    
}
.profileDetail .date_proflepic .date{
    font: 100 14px 'saira';
}
.date_time{
    display: none;
    font: 100 14px 'saira';
    margin:10px;
}
.time{
    font: 100 14px 'saira';
    margin:10px;
}
.profileDetail>.icons{
display: flex;
width: 50px;
justify-content: space-between;
align-items: center;

}
.pen_edit{
    color: #999;
    cursor: pointer;
}
.featured{
    color: #999;
    font-size: 11px;
    margin-left: -20px;
}
.pen_edit:hover{
    color: #b7b7b7;
}
.trash_delete{
color: #999;
cursor: pointer;
}
.trash_delete:hover{
color:#e47070;
}
.post_container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    padding: 0px;
    border: 1px solid #dddcdc;
    border-radius: 10px;
}
.post_header{
    font: 400 16px 'saira', sans-serif;
    text-align: start;
    height: fit-content;
    margin: 5px 10px;
}
.post_header .post_text{
    font: 200 14px 'Poppins', sans-serif;
    display: -webkit-box;
    max-height: 20%;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post_header .post_text.post_text_full{
    display:block;
    width: 100%;
    margin-top: 5px;
    height: 100%;
    word-wrap: break-word;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
}
.post_header .see_More{
    display: inline;
    color: #6fbae6;
}
.post_header .see_Less{
display: none;
cursor: pointer;
color: #6fbae6;
}
.post_header .see_More:hover{
    color: #00a2ff;
    cursor: pointer;
}
.post_header .see_Less:hover{
    color: #00a2ff;
}

.posted_pic{
    width: 100%;
    height: 400px;
    margin-bottom: 10px ;
    object-fit: contain;
}
.post_reaction{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #cfcccc88;
    margin: 10px 10px;
    padding-top: 5px;
    align-items: center;

}

@media(max-width:1360px){
    .all_posts_container{
        margin-top: 65px;
    }
    .profile_container{  
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
        background-color: #fff;
        border-radius: 0px;
        height: 50px;
    
    }
    .background{
       display: none;
    }
    .profilepic{
        margin:0;
        width: 50px;
        height: 50px;
    }
    .profile_container .userdetail{
        text-transform: capitalize;
        margin:0;
    }
    .profile_container .socialmedia{
        display: flex;
        justify-content: unset;
        gap: 10px;
    }
}
@media(max-width:649px){
    .all_posts_container{
        margin-top: 10px;
    }
    .Posts{
        margin-top: 77px;
    }
    .profile_container{
        margin-top: -51px;
    }
    .date_proflepic .profile_name {
        font-size: 12px;
        min-width: fit-content;
    }
    .profileDetail .date_proflepic .date{
        display: none;
    }
    .time{
        display: none;
    }
    .date_time{
        display: block;
    }
    .post_header .post_text{
        max-width: 335px;
    }
    .post_header .post_text.post_text_full{
         max-width: 335px;
    }
}
  
