.searchBar_container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
    overflow: hidden;
}

.input_warper{
    position: relative;
    box-sizing: border-box;
    width: 150px;
    height: 23px;
    padding: 0 0 0 10px;
    display: flex;
    align-items:center ;
    border: none;
    justify-content: flex-start;
    background-color: transparent;
    transition: width 0.32s ease;
}
.search_input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 0.9rem;
    color: #fff;
    width: 150px;
}
.search_input:focus{
    outline:none;
}
.search_icon{
position: absolute;
top: 0px;
left: 0px;
/* background-color: #2a2a2a; */
transform: translateX(120px);
width: 20px;
height: 20px;
margin-top: 2px;
color: rgb(0, 119, 255);
cursor: pointer;
/* transition: transform 0.32s ease; */
z-index: 1;
}
/* .input_warper.active{
    width: 150px;
}
.search_icon.active{
    transform: translateX(120px);
    width: 20px;
} */

.results_lists{
    width: 200px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
  position: absolute;
    max-height: 300px;
    overflow: scroll;
    font: 300 14px 'Poppins' ;
    top:100%;
}
.search_result{
    padding: 10px 20px;
    color: #ffffff;
}
.search_result:hover{
    background-color: #0C8CE9;
}
@media (max-width:650px) {
    .results_lists{
        background-color: #fff;
        top: 45px;
        width: 150px;
        right: 20px;
    }
    .search_result >a {
        color: #000000;
       font-size:12px ;
    }
    .search_result:hover{
        background-color: #6bbdf7;
    }
    .input_warper.active{
        width: 100px;
    }
    .search_input {
    font-size: 0.7rem;
    }
    .searchBar_container.active .input_warper{
        width: 145px ;
        border: 1px solid #747474;
        border-radius: 10px;
    }
    .searchBar_container.active .search_icon{
        transform: translateX(119px);
        background-color: transparent;
    }
    .search_icon{
        height: 18px;
    }
    .searchBar_container.active .search_input{
        font-size: 13px;
    }
}
