.seachAndFilter-container{
    display: flex;
    height: 100vh;
    background-color: #FBFBFB;
    gap: 240px;
    margin-top: 50px;
}
.seachAndFilter-container .left-side{
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #FBFBFB;
    border-right: 1px solid #CBCBCB;
}
.filter-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
    color: #5C5C5C;
}
.filter-top>div{
    display: flex;
    gap: 10px;
    
}
.filter-bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #545454;
}
.filter-option{
    display: flex;
     background-color: #f3f3f3;
     flex-direction: column; 
     gap: 10px;
     padding: 10px;
}
.iconsAndOptions{
    display: flex;
    justify-content: space-between;
}
.iconsAndOptions>div{
    display: flex;
    gap: 10px;

}
.dropDown-input{
    height: 40px;
    background-color: transparent;
    border: 1px solid #c3c3c3;
    border-radius: 13px;
}
.seachAndFilter-container .right-side{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    width: 60%;
    overflow: scroll;
}
.each-profile{
    display: flex;
    height: 80px;
    width: 70%;
    overflow: hidden;
    background-color: #E5E5E5;
    padding: 15px;
    gap: 20px;
    /* border-radius: 40px; */
    color: #484848;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.right-side a{
    align-self: unset;
}
.searched-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.each-profile .full-name{
    font:400 18px "Inter"
}
.each-profile .position{
    font:300 16px "Inter"
}
.each-profile .current-location{
    font:200 14px "Inter"
}