.sidebar-container{
    flex:1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: sticky;
    color: white;
    overflow-y: auto;
}
.sidebarWrapper{
  padding: 0 20px 20px 20px;
  color: #ffffff;
  top: 70px;
  position: sticky;
}

.sidebarMenu{
    /* margin: 10px; */
    overflow-y: auto;
}
.sidebarList{
    list-style-type: none;
    /* padding: 5px; */ 
}
.sidebarListItem{
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    width: fit-content;
    padding: 5px;
}
.sidebarListItem a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline */
  display: block; /* Make the link take up the full width of the list item */
}
.sidebarListItem::before{
  content: "";
  background-color: #0C8CE9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px; 
  transition: width 0.5s ease;
  
  }
  .sidebarListItem:hover::before{
    width: 100%;
  }

.sidebarIcon{
  margin-right: 8px;
  font-size: 18px;  
}
