
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
  box-sizing: border-box;
  font-family: "poppins";
}
body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
.btn{
  background-color: #fff;
  font: 500  14px 'Saira' ;
  width: 90px;
  height: 30px;
  cursor: pointer;
  transition: transform 80ms ease-in;
  /* border-radius: 10px; */
}

.btn:active{
  transform: scale(0.95);
}
.btn:focus{
  outline: none;
}
p{
  font-family: "poppins";
}
.body{
  margin-top: 75px;
}
a{
  text-decoration: none;
  color: #fff;
  align-self: center;
}